$color:#000000;
*{
    margin: 0;
    background-color: $color;
}
.div_contenedor{
    background-color: $color;
    height: 100vh;
}
.div_centrado{
     background-color: $color;
     width: 500px;
     height: 500px;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-top: -250px;
     margin-left: -250px;

}
